.ah-column {
  background-color: burlywood;
  position: relative;

  &.ah-is-over-column {
    opacity: 0.8;
  }

  padding-left: 0;
  padding-right: 0;

  .ah-column-name-wrapper {
    margin-left: 10px;
  }

  box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
}
