.ah-card {
  background-color: antiquewhite;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;

  .ah-delete-card {
    position: absolute;
    top: 0;
    right: 0;
  }
}
